// input {
//   font: inherit;

//   &,
//   &:focus,
//   &:focus-visible {
//     border: none;
//     outline: none;
//   }
// }

.container {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  & input:not(:placeholder-shown)+label,
  & input:focus+label {
    transform: none;
    font-size: 9px;
  }

  .label {
    position: relative;
    transform: translateY(16px);
    font-size: 13px;
    color: var(--color-text-gray);
    pointer-events: none;

    transition: transform 0.15s ease-in-out,
      font-size 0.15s ease-in-out;
  }

  .input {
    width: 280px;
    order: 1;
    margin-bottom: 7px;
    // border: none;
    border-bottom: 1px solid var(--color-primary);
  }

  .error {
    order: 1;
    font-size: 8px;
    color: var(--color-error);
  }
}
