.button {
  cursor: pointer;
  
  width: 280px;
  padding: 12px;

  color: #fff;
  
  background-color: var(--color-primary);
  border-radius: var(--radius-button);
  
  &-logout {
    width: auto;
    padding: 0;
    color: var(--color-error);
    background-color: transparent;
  }

  &-underline {
    color: var(--color-primary);
    text-decoration: overline;
    background-color: transparent;
  }
}
