.button {
  width: 280px;
  padding: 12px;
  border-radius: var(--radius-button);
  color: #fff;
  background-color: var(--color-primary);
  cursor: pointer;
  
  &-logout {
    width: auto;
    padding: 0;
    color: var(--color-error);
    background-color: transparent;
  }
}
