.field {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 10px;

  .input {
    flex-grow: 1;
    text-align: end;
    border-bottom: var(--divider);

    &_error {
      border-bottom: 1px solid var(--color-error);
    }
  }

  .error {
    position: absolute;
    right: 10px;
    bottom: -4px;
  
    font-size: 8px;
    color: var(--color-error);
  }
}
