.aside {
  min-width: 310px;
  padding: 10px;
  color: var(--color-text-grey);
  font-size: 12px;
  background-color: var(--color-sidebar-bg);
  border-right: var(--color-border) 1px solid;

  &>* {
    border-bottom: var(--divider);
  }

  .header {
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
  }


  .search {
    position: relative;

    &:focus-within .label {
      display: none;
    }

    .input {
      height: 32px;
      width: 280px;
      background-color: var(--color-input-bg);
      border-radius: var(--radius-button);
    }

    .label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-left: 26px;
      color: var(--color-text-grey);
      font-size: 12px;
      pointer-events: none;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-image: url('../../assets/img/search.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

}
