.button {
  width: 34px;
      height: 34px;
      cursor: pointer;
      background-image: url('../../assets/img/menu.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: initial;
}
