.button {
  height: 28px;
  width: 28px;
  align-self: center;
  background-color: transparent;
  background-image: url('../../img/forward.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
