.button {
  align-self: center;
  
  width: 28px;
  height: 28px;

  
  background-color: transparent;
  background-image: url('../../assets/img/forward.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
