@import './reset.scss';
@import './variables.scss';
@import './typography.scss';

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  height: 100%;
}

.user-form {
  &--modal {
    min-height: auto;
    padding: 0;
    text-align: left;
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
  }
}
