@import './reset.scss';
@import './variables.scss';
@import './typography.scss';

// @import '../components/nav.scss';
// @import '../components/error.scss';
// @import '../components/submitbtn.scss';
// @import '../pages/profile.scss';
// @import '../pages/modals.scss';

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  height: 100%;
}

// a {
//   color: var(--color-primary);
//   text-decoration: none;

//   &.link-warning {
//     color: var(--color-error);
//   }
// }

.user-form {
  &--modal {
    min-height: auto;
    padding: 0;
    text-align: left;
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
  }
}
