@import url('./reset.scss');
@import url('./variables.scss');
@import url('./typography.scss');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100%;
}

#app {
  height: 100%;
}
