:root {
  // colors
  --color-primary: #3369F3;
  --color-error: #FF2F2F;
  --color-bg: #FFFFFF;
  --color-border: #EAEAEA;
  --color-input-bg: #EFEFEF;

  --radius-panel: 12px;
  --radius-button: 8px;
  --shadow-panel: 0px 0px 6px rgba(0, 0, 0, 0.14);

  --color-text: #1E1E1E;
  --color-text-gray: #999999;
}