.container {
  height: 100%;
  display: flex;
  
  .messenger {
    height: 100%;
    flex-grow: 1;
    color: var(--color-text-grey);
  }
}


.wrapper {
  max-height: 100vh;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;

  .topbar {
    position: sticky;
    top: 0;
    height: 54px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-bottom: var(--divider);
    z-index: 1000;

    .avatar {
      width: 34px;
      height: 34px;
    }

    .name {
      flex-grow: 1;
      color: var(--color-text);
      font-size: 13px;
    }

    .menu {
      width: 34px;
      height: 34px;
      cursor: pointer;
      background-image: url('../../assets/img/menu.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: initial;
    }

  }

  .bubbles {
    min-height: 100vh;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    font-size: 12px;
    color: var(--color-text);
    border-bottom: var(--divider);

    .bubble {
      position: relative;
      max-width: 400px;
      padding: 10px;
      align-self: flex-start;
      background-color: var(--color-bubble-bg);
      border-radius: var(--radius-bubble);

      &.own {
        padding-right: 20px;
        align-self: flex-end;
        border-radius: var(--radius-bubble-own);
        background-color: var(--color-chat-bg);

        .time {
          color: var(--color-primary);
          position: relative;
          color: var(--color-text-gray);
          font-size: 9px;
        }
      }

      &--media {
        padding: 10px;
        background-color: transparent;
        border-radius: var(--radius-panel);
        border: 1px solid var(--color-border);

        .duration {
          position: absolute;
          right: 10px;
          bottom: 10px;
          padding: 2px 7px;
          color: white;
          font-size: 9px;
          border-radius: 20px;
          background-color: var(--color-duration-bg);
        }
      }
    }

  }

  .interface {
    position: sticky;
    bottom: 0;
    padding: 10px 0;
    background-color: white;
  }

  .form {
    display: flex;
    justify-content: space-between;

    gap: 10px;

    .clip {
      height: 32px;
      width: 23px;
      cursor: pointer;
      background-image: url('../../assets/img/clip.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .message {
      width: 100%;
      padding: 0 20px;
      font-size: 12px;
      background-color: var(--color-input-bg);
      border-radius: 20px;
    }


  }
}
