.container {
  display: flex;
  height: 100%;
  
  .messenger {
    flex-grow: 1;
    height: 100%;
    color: var(--color-text-grey);
  }
}


.wrapper {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 100%;
  max-height: 100vh;
  padding: 0 20px;

  .topbar {
    position: sticky;
    z-index: 1000;
    top: 0;
  
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  
    height: 54px;
    padding: 10px 0;
  
    background-color: white;
    border-bottom: var(--divider);

    .avatar {
      width: 34px;
      height: 34px;
    }

    .name {
      flex-grow: 1;
      font-size: 13px;
      color: var(--color-text);
    }

    .menu {
      cursor: pointer;

      width: 34px;
      height: 34px;
      
      background-image: url('../../assets/img/menu.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: initial;
    }
  }


  .bubbles {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    align-items: center;
    justify-content: end;
    
    min-height: 100vh;
    padding-bottom: 30px;
    
    font-size: 12px;
    color: var(--color-text);
    
    border-bottom: var(--divider);

    .bubble {
      position: relative;
     
      align-self: flex-start;
      
      max-width: 400px;
      padding: 10px;
      
      background-color: var(--color-bubble-bg);
      border-radius: var(--radius-bubble);

      &.own {
        align-self: flex-end;
        padding-right: 20px;
        background-color: var(--color-chat-bg);
        border-radius: var(--radius-bubble-own);

        .time {
          position: relative;
          font-size: 9px;
          color: var(--color-primary);
          color: var(--color-text-gray);
        }
      }

      &--media {
        padding: 10px;
        background-color: transparent;
        border: 1px solid var(--color-border);
        border-radius: var(--radius-panel);

        .duration {
          position: absolute;
          right: 10px;
          bottom: 10px;
        
          padding: 2px 7px;
        
          font-size: 9px;
          color: white;
        
          background-color: var(--color-duration-bg);
          border-radius: 20px;
        }
      }
    }

  }

  .interface {
    position: sticky;
    bottom: 0;
    padding: 10px 0;
    background-color: white;
  }

  .form {
    display: flex;
    gap: 10px;
    justify-content: space-between;


    .clip {
      cursor: pointer;
      
      width: 23px;
      height: 32px;
      
      background-image: url('../../assets/img/clip.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .message {
      width: 100%;
      padding: 0 20px;
     
      font-size: 12px;
     
      background-color: var(--color-input-bg);
      border-radius: 20px;
    }


  }
}
