---
first_name: Иван
buttonText: Сохранить
---

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Изменить пароль</title>
  <link rel='stylesheet' href='../styles/style.scss' />
</head>

<body>
  {{> nav}}
  <div class="profile-wrapper">
    <aside class="profile-sidebar"><a href="./profile.hbs"><img src="../img/back.png" alt="Назад"></a></aside>
    <main class="profile">
      <section class="profile-info">
        <header class="profile-info__header profile-header">
          <img src="../img/profile_pic.png" alt="photo" class="profile-header__pic">
          <h2 class="profile-header__name">{{first_name}}</h2>
        </header>
        <section class="profile-info__bio">
          <div class="profile-info__field profile-field">
            <label for="old_password">Старый пароль</label>
            <input type='password' name='old_password' id="old_password" placeholder="&nbsp;" />
          </div>
          <div class="profile-info__field profile-field">
            <label for="password">Новый пароль</label>
            <input type='password' name='password' id="password" placeholder="&nbsp;" />
          </div>
          <div class="profile-info__field profile-field">
            <label for="confirm_password">Повторите новый пароль</label>
            <input type='password' name='confirm_password' id="confirm_password" placeholder="&nbsp;" />
          </div>
        </section>
        <footer class="profile-info__footer--center">
          {{> submitbtn}}
        </footer>
      </section>
    </main>
  </div>
</body>

</html>
