.form {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border-radius: var(--radius-panel);
  box-shadow: var(--shadow-panel);
  margin-block-end: 0;

  .title {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 10px;
  }

  .buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

  }

  .link {
    margin-top: 14px;
    align-self: center;
    font-size: 11px;
  }
}
