<nav>
  <ul class="nav">
    <li><a href="../pages/index.hbs">home</a></li>
    <li><a href="../pages/chat.hbs">chat</a></li>
    <li><a href="../pages/chatlist.hbs">chatlist</a></li>
    <li><a href="../pages/signUp.hbs">signUp</a></li>
    <li><a href="../pages/profile.hbs">profile</a></li>
    <li><a href="../pages/404.hbs">404</a></li>
    <li><a href="../pages/500.hbs">500</a></li>
    <li><a href="../pages/modals.hbs">modals</a></li>
  </ul>
</nav>