.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.popup {
  position: fixed;
  z-index: 10000;
  top: 65px;
  right: 25px;

  
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 15px;
  
  font-size: 14px;
  color: var(--color-text);

  visibility: hidden;
  opacity: 0;
  background-color: white;
  border-radius: var(--radius-panel);
  box-shadow: var(--shadow-panel);

  & > * {
    cursor: pointer;

    height: 22px;
    padding-top: 3px;
    padding-left: 37px;

    background-repeat: no-repeat;
    background-position: left;
  }

  .add-user {
    background-image: url('../../assets/img/add.svg');
  }

  .delete-user {
    background-image: url('../../assets/img/delete.svg');
  }

  .delete-chat {
    background-image: url('../../assets/img/delete.svg');
  }

  &[active] {
    visibility: visible;
    opacity: 1;
  }
}
