  <div class="{{styles.popup}}" id="menu">
    <div class="{{styles.add-user}}" id="add">Добавить пользователя</div>
    <div class="{{styles.delete-user}}" id="delete">Удалить пользователя</div>
    <div class="{{styles.delete-chat}}" id="deleteChat">Удалить чат</div> 
  </div>
