  <div class="{{styles.popup}}" id="menu">
    <div class="{{styles.addUser}}" id="add">Добавить пользователя</div>
    <div class="{{styles.deleteUser}}" id="delete">Удалить пользователя</div>
    <div class="{{styles.deleteChat}}" id="deleteChat">Удалить чат</div> 
  </div>
