<nav class="{{styles.nav}}">
  <ul class="{{styles.list}}">
    <li onclick="goToPage('home')"><a href="#">Home</a></li>
    <li onclick="goToPage('signup')"><a href="#">SignUp</a></li>
    <li onclick="goToPage('messenger')"><a href="#">Messenger</a></li>
    <li onclick="goToPage('openchat')"><a href="#">OpenChat</a></li>
    <li onclick="goToPage('profile')"><a href="#">Profile</a></li>
    <li onclick="goToPage('settings')"><a href="#">Settings</a></li>
    <li onclick="goToPage('password')"><a href="#">Password</a></li>
    <li onclick="goToPage('err404')"><a href="#">404</a></li>
    <li onclick="goToPage('err500')"><a href="#">500</a></li>
    {{!-- <li><a href="../pages/modals.hbs">modals</a></li> --}}
  </ul>
</nav>
