.link {
  color: var(--color-primary);
  text-decoration: none;

  &-login {
    margin-top: 14px;
    align-self: center;
    font-size: 11px;
  }

  &-profile {
    color: var(--color-text-grey);
    padding-right: 16px;
    background-image: url('../../assets/img/arrow.svg');
    background-repeat: no-repeat;
    background-position: right center;
  }

  &-back {
    height: 100%;
    width: 64px;
    padding: 28px;
    background-color: var(--color-sidebar-bg);
    background-image: url('../../assets/img/back.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}
