.link {
  color: var(--color-primary);
  text-decoration: none;

  &-login {
    align-self: center;
    margin-top: 14px;
    font-size: 11px;
  }

  &-profile {
    padding-right: 16px;

    color: var(--color-text-grey);

    background-image: url('../../assets/img/arrow.svg');
    background-repeat: no-repeat;
    background-position: right center;
  }

  &-back {
    width: 64px;
    height: 100%;
    padding: 28px;
    
    background-color: var(--color-sidebar-bg);
    background-image: url('../../assets/img/back.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}
